
/* ==========  sidebar style  =================*/
.sidebar {
    background-color: hsla(206, 52%, 16%, 0.4);
    padding: 2rem;
    position: fixed;
    width: 35%;
    height: 100vh;
    max-height: 100vh;
    display: none;
    overflow-y: auto;
}

.sidebar_bio{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  height: 30%;
}
.sidebar_avatar{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.sidebar_description{
color: var(--clr-text-green);
  border-bottom: hsla(215, 20%, 65%, 0.2) solid 1px;
}

.sidebar_description p{
  font-size: 1rem;
  text-align: center;
}

.sidebar_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  
  
}


.sidebar_list li{
  padding:0.5rem  1rem ;
  background-color: transparent;
  width: 80%;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  transition: var(--transition);
}
.sidebar_active_link {
  background-color: var(--clr-secondary-dark) !important;
}

.sidebar_list li p{
  font-size: 1.5rem;
}

.sidebar_list li:hover{
  background-color: var(--clr-secondary-dark);
}



@media screen and (min-width:800px) {
    .sidebar {
        display: block;
    }

    


}


/* ==========  about style  =================*/
.home_about{
  padding: 1rem;
  margin-bottom: 8rem;
  padding-top: 3rem;
}


.home_about-description{
  margin-bottom: 6rem;
}

.home_about_description p {
margin-bottom: 2rem;
}
.home_skills-container{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.home_skills div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 1.5rem;
  align-items: center;
  justify-content: center;
}
.home_skills div div {
  background-color: var(--clr-secondary-dark);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
}

.home_skills p{
  color: var(--clr-text-primary);
}

.home_skills h6 {
  background: linear-gradient(88.76deg, #20EAF7 0.29%, #2879E0 105.61%, #112F36 277.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}






/* ==========  projects style  =================*/
.home_projects {
    padding: 1rem;
    padding-top: 3rem;
    margin-bottom: 8rem;
}

.home_projects p {
    margin-bottom: 2rem;
}

.projects_container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
}

.projects {
    background-color: var(--clr-tertiary-dark);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: var(--clr-text-green) solid 2px;
}

.projects_image {
    width: 100%;
    height: 20rem;
    border-bottom: 1rem;
    border-radius: 1rem;
}

.projects_source {
    display: flex;
    gap: 1.5rem;
}

.projects_source div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects_source p {
    color: var(--clr-text-primary);
}

.projects_source div div {
    background-color: var(--clr-quartary-dark);
    padding: 1rem;
    border-radius: 1rem;
}






/* ==========  contact style  =================*/
.contact{
  padding: 1rem;
  padding-top: 3rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-bottom: 8rem;
}

.contact_option_message{
display: flex;
flex-direction: column;
gap: 5rem;
}

.contact_form {
display: flex;
flex-direction: column;
gap: 2rem;
}

.contact_input{
  padding: 1rem 1rem;
  background-color: var(--clr-secondary-dark);
  border: var(--clr-text-secondary) solid 1px;
  border-radius: 0.25rem;
  font-size: 1.31rem;
  color: var(--clr-text-primary);
  outline: none;
}

.contact_input:focus{
  border-color: var(--clr-text-green);
}

.contact_btn{
  border-radius: 4px;
  text-transform: uppercase;
}
.contact_media{
display: flex;
flex-direction: column;
gap: 3rem;
padding: 1rem;
justify-content: center;
min-width: 100%;
}

.media{
  background-color: var(--clr-tertiary-dark);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
}

.media div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.media p:nth-of-type(2){
  font-size: 0.875rem;
}

.media a {
  font-size: 1.31rem;
  color: var(--clr-text-green);
  text-transform: uppercase;
}

.media a:hover {
text-decoration: underline;
}

/*=============contact responsive=============*/
@media screen and (min-width: 500px) {

  /*.contact{
  max-width: 70%;
}/*/
  .contact_media {
    flex-direction: row;
  }

  .media {
    width:50%;
  }

  .media p:nth-of-type(2) {
    font-size: 0.6rem;
  
  }

  .media a {
    font-size: 1rem;
  }
}




/* ==========  footer style  =================*/
.footer{
  padding:3rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-secondary-dark);
}

.home_social {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.home_social_icon {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;

}

.home_social_icon a {
  transition: var(--transition);
}

.home_social_icon a:hover {
  opacity: 0.6;
}
.footer_sitemap{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap:2rem;
  justify-content: center;
  align-items: center;
  border-bottom: hsla(215, 20%, 65%, 0.2) solid 1px;
  padding-bottom: 3rem;
}



.btn_contact{
   background-color: var(--clr-text-green);
   border: none;
   color: #000000;
   font-family: var(--ff-secondary);
   font-size: 1.31rem;
}

.btn_contact:hover{
background-color: rgba(32, 233, 247, 0.8);
border: solid var(--clr-text-primary) 1px;
}

.footer p{
  font-size: 1rem;
  text-align: center;
  padding: 0 1rem;
}

/*=========== responsiveness ======*/

@media screen and (min-width: 768px) {

  .home_about,
  .contact,
  .home_projects {
    padding: 5rem;
  }

}



@media screen and (min-width:800px){
  .home_projects,
    .home_about,
    .contact,
    .footer {
      margin-left: 35%;
    }

     .home_about,
  .home_projects,.contact {
    padding: 2rem;
  }



  .home_skills div {
    grid-template-columns: repeat(3, 1fr);
  }
    .footer {
      background-color: transparent;
    }
}

@media screen and (min-width:900px) {
  .footer_sitemap {
    flex-direction: row;
    margin: 0 auto;
  }
}

@media screen and (min-width:1280px) {


  .projects {
    flex-direction: row;
  }

  .projects_image {
    width: 50%;
    height: 80%;
  }

  .contact{
    padding:2rem 8rem;
  }


}

@media screen and (min-width:1536px) {

  .home_projects,
  .home_about,
  .contact,
  .footer {
    padding: 0 4rem;
  }
}


/*@media screen and (min-width: 1280px){
.sidebar_bio{
  flex-direction: row;
  gap: 1rem;
}
}*/